.navbar {
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo-img {
    height: 50px;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-link {
    text-decoration: none;
    color: white;
}

.navbar-signout {
    display: flex;
    align-items: center;
}

.navbar-signout-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar-signout-icon {
    margin-right: 8px;
}

.navbar-link:hover,
.navbar-signout-link:hover {
    color: #ff91a4;
}